@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @_currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Increment</button>

<button class="btn btn-primary" @onclick="DecrementCount">Decrement</button>

@code {
    private int _currentCount = 0;

    private void IncrementCount()
    {
        _currentCount+=3;
    }

    private void DecrementCount()
    {
        _currentCount-=3;
    }
}
